<div class="container">
        <div class="card-columns">
            <div *ngFor="let note of notes">
                <div  class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{note.name}}</h4>
                        <span *ngIf="note.status" class="badge badge-success">Complete</span>
                        <span *ngIf="!note.status" class="badge badge-warning">incomplete</span>
                    </div>
                    <div class="card-body">
                        {{note.description}}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-danger  btn-block ">
                            delete
                        </button>
                        <button (click)="editNote(note)" class="btn btn-outline-info  btn-block ">
                            edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>